* { 
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
#main {
    text-align: center;
    width: 100%;
}
#first {
    width: 1200px;
    height: 68px;
    margin: 0 auto;
    overflow: hidden;
}
#logo {
    float: left;
    margin-left: 100px;
}
#logo img {
    height: 40px;
    padding: 14px 0;
}
#content {
    float: right;
    padding-top: 21px;
}
#home {
    font-size: 20px;
    background-color: #e77070;
    color: #ffffff;
    padding: 21px 29px;
    font-family: "Microsoft YaHei";
    border-bottom: 2px solid #e77070;
}
.a-other {
    width: 98px;
    font-size: 20px;
    margin-left: 17px;
    padding: 20px 10px;
    color: #000000;
    font-family: "Microsoft YaHei";
    border-bottom: 1px solid #e77070;
}
#background {
    width: 100%;
    height: 500px;
}
#shadow {
    margin-top: -84px;
    clear: both;
}
#shadow img {
    width: 100%;
    height: 80px;
}
#company {
    font-size: 30px;
    width: 1200px;
    color: #ffffff;
    margin: -60px auto 0 auto;
    font-family: "SimHei";
}
#intro {
    float: left;
    position: relative;
}
#intro span {
    padding: 25px 12px;
}
#transit {
    float: right;
    margin-right: 17px;
    position: relative;
}
#second {
    height: 612px;
    position: relative;
    top: -60px;
    background-color: #f2f2f2;
}
.title {
    font-size: 36px;
    margin-top: 110px;
    padding-top: 60px;
    font-family: "SimHei";
}
#img-word {
    width: 1200px;
    margin: 86px auto  10px auto;
}
#img1 {
    float: left;
    margin-left: 34px;
}
#word1 {
    float: right;
    width: 670px;
    margin-top: 20px;
    margin-right: 27px;
    line-height: 26px;
    color: #676767;
    font-size: 18px;
    font-family: "Microsoft Yahei";
    text-align: left;
    text-indent: 35px;
}
.title1 {
    font-size: 36px;
    font-family: "SimHei";
}
#honor {
    margin-top: 65px;
    margin-bottom: 74px;
}
#honor img {
    width: 1158px;
    height: 346px;
}
#fourth {
    background-color: #cecdcd;
}
.title2 {
    font-size: 36px;
    font-family: "SimHei";
    padding-top: 59px;
    padding-bottom: 91px;
}
#adventage {
    width: 1200px;
    overflow: hidden;
    margin: 0 auto;
}
#adventage li {
    width: 260px;
    height: 105px;
    float: left;
    text-align: left;
    margin-bottom: 90px;
    margin-left: 100px;
}
#adventage li img {
    height: 105px;
    width: 105px;
}
.spans {
    float: right;
    margin-top: 31px;
    font-size: 18px;
    font-family: "SemHei";
} 
.numb {
    font-size: 48px;
    font-family: "Myriad Pro";
    color: #909090;
    position: absolute;
    margin-left: -78px;
    margin-top: 25px;
}
#fiimg {
    width: 1200px;
    margin:0 auto;
    z-index: 99
}
#sixth {
    background-image: url("E:/PROJECT/screenshot/homepage14.png");
    width: 100%;
    background-repeat: no-repeat;
    height: 315px;
}
.lix {
    font-size: 24px;
    font-family: "Microsoft YaHei";
}
.lixd {
    font-size: 18px;
    font-family: "Microsoft YaHei";
    margin-top: 20px;
    float: left;
    text-align: left;
}
#seventh {
    border: 1px solid #212121;
    background-color: #212121;
    height: 36px;
}
#seventh span {
    color: #ffffff;
    font-family: "SimHei";
    margin: 9px auto;
    display: inline-block;
    font-size: 20px;
}
.address {
    width: 252px;
    float: left;
    padding-top: 70px;
}
.telephone {
    width: 204px;
    float: left;
    padding-top: 70px;
}
.email {
    width: 258px;
    float: left;
    padding-top: 70px;
}
.unify {
    color: #ffffff;
    margin-top: 25px;
}