* { 
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
#main {
    text-align: center;
    width: 100%;
}
#first {
    width: 1200px;
    height: 68px;
    margin: 0 auto;
    overflow: hidden;
}
#logo {
    float: left;
    margin-left: 100px;
}
#logo img {
    height: 40px;
    padding: 14px 0;
}
#content {
    float: right;
    padding-top: 21px;
}
#home {
    font-size: 20px;
    background-color: #e77070;
    color: #ffffff;
    padding: 21px 29px;
    font-family: "Microsoft YaHei";
    border-bottom: 2px solid #e77070;
}
.a-other {
    width: 98px;
    font-size: 20px;
    margin-left: 17px;
    padding: 20px 10px;
    color: #000000;
    font-family: "Microsoft YaHei";
    border-bottom: 1px solid #e77070;
}
#second {
    margin-bottom: 150px;
    overflow: hidden;
    width: 1349px;
    height: 500px;
}
#ul {
    width: 4098px;
    height: 500px;
    padding: 0px;
    margin: 0px;
    transition: all 2s;
}
#second img {
    width: 1366px;
    height: 500px;
    float: left;
}
#btn {
    margin: -70px auto 0 auto;
    width: 264px;
    overflow: hidden;
}
.buttons {
    width: 60px;
    border-radius: 25%;
    float: left;
    height: 8px;
}
#letter1 {
    width: 1200px;
    text-align: left;
    margin: 0 auto;
}
#newest {
    font-family: "SimHei";
    font-size: 36px;
    color: #000000;
    margin-right: 26px;
    margin-left: 27px;
}
#eng {
    font-family: "SimHei";
    font-size: 20px;
    color: #adacac;
}
#letter1 hr {
    height: 3px;
    color: #f81d1d;
    border: none;
    width: 488px;
    margin-top: 16px;
    background-color: #f81d1d;
}
#six-img {
    width: 1200px;
    overflow: hidden;
    margin:52px auto 11px auto;
}
.img1 {
    height: 264px;
    width: 350px;
    padding-bottom: 30px;
}
#li {
    height: 404px;
    width: 350px;
    float: left;
    margin-bottom: 110px;
}
#six-img ul {
    margin: 0 auto;
}
.describe {
    font-size: 18px;
    color: #838080;
    text-indent:  2em;
    text-align: left;
    width: 323px;
    line-height: 28px;
    font-family: "SimHei";
}
.img2 {
    width: 348px;
    height: 54px;
    border: 1px solid #000000;
    background-color: #000000;
    opacity: 0.35;
    margin-top: -202px;
    display: block;
}
.word {
    color: #ffffff;
    font-family: "SimHei";
    font-size: 14px;
    margin-top: -36px;
    margin-left: 119px;
    position: absolute;
    z-index: 1;
}
#li:hover .img2 {
    margin-top: -306px;
}
.check {
    width: 348px;
    height: 102px;
    opacity: 0;
    transition: 0.3s;
    border: 1px solid #000000;
    background-color: #000000;
}
.check-more {
    font-size: 14px;
    font-family: "Microsoft Yahei";
    color: #00e5ff;
    padding: 10px 31px;
    width: 129px;
    margin: 0 auto;
    margin-top: 25px;
    opacity: 0;
    transition: 0.3s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    border-top: 1px solid #00e5ff;
    border-bottom: 1px solid #00e5ff;
}
#li:hover .check-more {
    opacity: 1;
}
#li:hover .check {
    opacity: 0.35;
}
#fourth {
    clear: both;
}
#back {
    width: 100%;
    height: 600px;
}
#thr-imgs {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    top: -370px;
}
.img-div {
    float: left;
    width: 150px;
    height: 168px;
}
.img-div img {
    width: 90px;
    height: 90px;
	transition: all 2s;
}
.img-div img:hover{
    transform: scale(1.2);
    width: 180px;
    height: 180px;
}
.img-div div {
    font-family: "Microsoft YaHei";
    font-size: 30px;
    color: #fffefe;
    margin-top: 38px;
    letter-spacing: 5px;
}
#fifth {
    margin-top: -5px;
    background-color: #e4e4e4;
}
#newh {
    margin-top: 20px;
    width: 100%;
    position: absolute;
}
#newd {
    font-family: "SemHei";
    font-size: 30px;
    margin-bottom: 15px;
}
#hr1 {
    width: 40px;
    height: 4px;
    background-color: #000000;
    border: none;
    margin: 0 auto;
    margin-top: -3px;
}
#hr2 {
    height: 2px;
    border: none;
    background-color: #c7b9b9;
    width: 222px;
    margin: 0 auto;
}
#box {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 145px;
    overflow: hidden;
}
#big-box {
    width: 664px;
    float: left;
}
#tit{
    text-align: left;
    margin-bottom: 7px;
    letter-spacing: 2px;
}
#com-new {
    font-family: "SemiHei";
    font-size: 24px;
    color: #000;
    margin-left: 11px;
    margin-right: 69px;
    margin-bottom: 7px;
}
#industry-new {
    font-family: "SemiHei";
    font-size: 24px;
    color:#adacac;
}
#hr4 {
    height: 1px;
    background-color: #0084ff;
    border: none;
    width: 96px;
    margin-bottom: 50px;
    margin-left: 11px;
    margin-top: -1px;
}
#hr3 {
    width: 664px;
    height: 1px;
    background-color: #adacac;
    border: none; 
}
#more {
    color: #00a8ff;
    font-size: 20px;
    font-family: "SemHei";
    letter-spacing: 1px;
    margin-left: 268px;
}
.add {
    font-size: 16px;
    margin-left: 11px;
}
#list1 {
    overflow: hidden;
}
#list1 img {
    float: left;
}
#eldiv {
    width: 346px;
    float: right;
}
.news-content {
    width: 346px;
    text-align: left;
    padding-bottom: 2px;
    padding-top: 4px;
    border-bottom: 1px dashed #a7a7a7;
    font-size: 16px;
    overflow: hidden;
}
.news-content b {
    color: #000;
}
.num {
    color: #ff0d0d;
    float: left;
    margin-top: -5px;
    font-size: 24px;
    margin-right: 10px;
    font-family: "SemHei";
}
.date {
    float: right;
    margin-bottom: -5px;
}
#list2 {
    overflow: hidden;
}
#list2 img {
    float: left;
}
.eldiv {
    width: 346px;
    float: right;
}
.news-content {
    width: 346px;
    text-align: left;
    padding-bottom: 2px;
    padding-top: 4px;
    border-bottom: 1px dashed #a7a7a7;
    font-size: 16px;
    overflow: hidden;
}
.news-content b {
    color: #000;
}
.numb {
    color: #4c0094;
    float: left;
    margin-top: -5px;
    font-size: 24px;
    margin-right: 10px;
    font-family: "SemHei";
}
.date {
    float: right;
    margin-bottom: -5px;
}
#others {
    width: 361px;
    float: right;
    text-align: left;
}
#com-questions { 
    font-family: "SemiHei";
    font-size: 24px;
    color: #000;
    letter-spacing: 2px;
}
#more-j {
    display: inline;
    color: #00a8ff;
    font-size: 20px;
    font-family: "SemHei";
    letter-spacing: 1px;
    margin-left: 160px;
}
#tit-1 {
    margin-bottom: 7px;
}
#hr5 {
    height: 1px;
    background-color: #a6a6a6;
    border: none;
    margin-bottom: 10px;
}
#words {
    font-size: 18px;
    width: 334px;
    font-weight: bold;
}
.sin {
    margin-right: 24px;
    padding: 0 3px;
    color: #ffffff;
    margin-left: 4px;
    line-height: 25px;
    border: 1px solid #a6a6a6;
    background-color: #a6a6a6;
    border-radius: 20%;
    vertical-align: middle;
}
.sing {
    margin-right: 22px;
    color: #ffffff;
    padding: 0 3px;
    margin-left: 4px;
    line-height: 25px;
    border: 1px solid #16a8f9;
    background-color: #16a8f9;
    border-radius: 20%;
    vertical-align: middle;
}
.mar {
    line-height: 32px;
    margin-bottom: 38px;
}
#fiimg {
    width: 1200px;
    margin:0 auto;
    z-index: 99
}
#sixth {
    background-image: url("E:/PROJECT/screenshot/homepage-img/homepage14.png");
    width: 100%;
    background-repeat: no-repeat;
    height: 315px;
}
.lix {
    font-size: 24px;
    font-family: "Microsoft YaHei";
}
.lixd {
    font-size: 18px;
    font-family: "Microsoft YaHei";
    margin-top: 20px;
    float: left;
    text-align: left;
}
#seventh {
    border: 1px solid #212121;
    background-color: #212121;
    height: 36px;
}
#seventh span {
    color: #ffffff;
    font-family: "SimHei";
    margin: 9px auto;
    display: inline-block;
    font-size: 20px;
}
.address {
    width: 252px;
    float: left;
    padding-top: 70px;
}
.telephone {
    width: 204px;
    float: left;
    padding-top: 70px;
}
.email {
    width: 258px;
    float: left;
    padding-top: 70px;
}
.unify {
    color: #ffffff;
    margin-top: 25px;
}
