* { 
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
#main {
    text-align: center;
    width: 100%;
}
#first {
    width: 1200px;
    height: 68px;
    margin: 0 auto;
    overflow: hidden;
}
#logo {
    float: left;
    margin-left: 100px;
}
#logo img {
    height: 40px;
    padding: 14px 0;
}
#content {
    float: right;
    padding-top: 21px;
}
#home {
    font-size: 20px;
    background-color: #e77070;
    color: #ffffff;
    padding: 21px 9px;
    margin-left: 17px;
    font-family: "Microsoft YaHei";
    border-bottom: 2px solid #e77070;
}
.a-other {
    width: 98px;
    font-size: 20px;
    margin-left: 17px;
    padding: 20px 10px;
    color: #000000;
    font-family: "Microsoft YaHei";
    border-bottom: 1px solid #e77070;
}
#background {
    width: 100%;
    height: 500px;
}
#shadow {
    margin-top: -84px;
    clear: both;
}
#shadow img {
    width: 100%;
    height: 80px;
}
#company {
    font-size: 30px;
    width: 1200px;
    color: #ffffff;
    margin: -60px auto 0 auto;
    font-family: "SimHei";
}
#intro {
    float: left;
    position: relative;
}
#btn1 {
    color: #000;
    background-color: #fff;
    padding: 25px 12px;
    margin-right: 12px;
}
#btn2 {
    color: #fff;
    padding: 25px 12px;
    margin-right: 12px;
}
#btn3 {
    color: #fff;
    padding: 25px 12px;
    margin-right: 12px;
}
#transit {
    float: right;
    margin-right: 17px;
    position: relative;
}
#second {
    width: 1200px;
    margin: 116px auto 0 auto;
}
.introduce {
    font-size: 30px;
    font-family: "SimHei";
}
.English {
    font-size: 30px;
    font-family: "SimHei";
    color: #494949;
    margin-top: 5px;
    margin-bottom: 24px
}
#lines {
    background-image: url("../screenshot/news-detail-img/prod-detail1.png");
    background-repeat: no-repeat;
    margin-bottom: 46px;
    width: 1200px;
    height: 1684px;
}
#introduction {
    margin: 0 60px;
}
#detail-tit {
    font-size: 36px;
    padding-top: 120px;
    padding-bottom: 36px;
}
#from {
    color: #cdcdcd;
    font-size: 18px;
    margin-bottom: 46px;
}
#para-1 {
    margin-bottom: 17px;
}
p {
    text-align: left;
    text-indent: 2em;
    line-height: 32px;
    font-size: 18px;
    font-family: "Microsoft Yahei";
    color: #575757;
}
#para-img1 {
    width: 1092px;
    height: 297px;
    display: block;
    margin-bottom: 25px;
}
#para-2 {
    margin-bottom: 15px;
    letter-spacing: 0.57px;
}
#para-img2 {
    width: 1092px;
    height: 297px;
    display: block;
    margin-bottom: 37px;
}
#para-3 {
    margin-bottom: 80px;
    letter-spacing: 0.8px;
}
#on-under {
    width: 968px;
    margin: 0 auto;
    overflow: hidden;
}
#on-under div {
    color: #838181;
    font-size: 30px;
}
#left {
    float: left;
    letter-spacing: 3px;
}
#right {
    float: right;
    letter-spacing: 3px;
}
.indi {
    font-size: 29.99px;
    color: #b0aeae;
}
#sixth {
    background-image: url("../screenshot/homepage-img/homepage14.png");
    width: 100%;
    background-repeat: no-repeat;
    height: 315px;
}
#fiimg {
    width: 1200px;
    margin:0 auto;
    z-index: 99;
}
.lix {
    font-size: 24px;
    font-family: "Microsoft YaHei";
}
.lixd {
    font-size: 18px;
    font-family: "Microsoft YaHei";
    margin-top: 20px;
    float: left;
    text-align: left;
}
#seventh {
    border: 1px solid #212121;
    background-color: #212121;
    height: 36px;
}
#seventh span {
    color: #ffffff;
    font-family: "SimHei";
    margin: 9px auto;
    display: inline-block;
    font-size: 20px;
}
.address {
    width: 252px;
    float: left;
    padding-top: 70px;
}
.telephone {
    width: 204px;
    float: left;
    padding-top: 70px;
}
.email {
    width: 258px;
    float: left;
    padding-top: 70px;
}
.unify {
    color: #ffffff;
    margin-top: 25px;
}