* { 
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
#main {
    text-align: center;
    width: 100%;
}
#first {
    width: 1200px;
    height: 68px;
    margin: 0 auto;
    overflow: hidden;
}
#logo {
    float: left;
    margin-left: 100px;
}
#logo img {
    height: 40px;
    padding: 14px 0;
}
#content {
    float: right;
    padding-top: 21px;
}
#home {
    font-size: 20px;
    background-color: #e77070;
    color: #ffffff;
    padding: 21px 9px;
    margin-left: 17px;
    font-family: "Microsoft YaHei";
    border-bottom: 2px solid #e77070;
}
.a-other {
    width: 98px;
    font-size: 20px;
    margin-left: 17px;
    padding: 20px 10px;
    color: #000000;
    font-family: "Microsoft YaHei";
    border-bottom: 1px solid #e77070;
}
#background {
    width: 100%;
    height: 500px;
}
#shadow {
    margin-top: -84px;
    clear: both;
}
#shadow img {
    width: 100%;
    height: 80px;
}
#company {
    font-size: 30px;
    width: 1200px;
    color: #ffffff;
    margin: -60px auto 0 auto;
    font-family: "SimHei";
}
#intro {
    float: left;
    position: relative;
}
#intro span {
    padding: 25px 12px;
}
#btn1 {
    color: #000;
    background-color: #fff;
}
#btn2 {
    color: #fff;
}
#btn3 {
    color: #fff;
}
#transit {
    float: right;
    margin-right: 17px;
    position: relative;
}
#second {
    position: relative;
    top: -60px;
}
.title {
    font-size: 30px;
    width: 222px;
    margin: 110px auto 0 auto;
    padding-top: 60px;
    padding-bottom: 24px;
    border-bottom: 2px solid #c7b9b9;
    font-family: "SimHei";
}
#second hr {
    border: none;
    width: 40px;
    height: 4px;
    background-color: #8b8b8b;
    margin: 0 auto;
    margin-top: -3px;
}
#third {
    width: 1200px;
    margin: -10px auto 0 auto;
}
#list {
    width: 1153px;
    margin: 0 auto;
    background-image: url("../screenshot/news-cent-img/img5.png");
    height: 1401px;
    overflow: hidden;
}
#news-intro {
    margin-top: -1130px;
}
.li {
    margin: 0 auto;
    width: 1153px;
    overflow: hidden;
    margin-bottom: 195px;
}
.img-div:-nth-child(even){
}
.display:-nth-child(even) {
}
.img-div {
    width: 379px;
    float: left;
    height: 258px;
}
.display {
    width: 455px;
    float: right;
}
.divf {
    font-size: 30px;
    font-family: "SimHei";
    margin-bottom: 46px;
}
.divs, .divp, .divm {
    font-size: 18px;
    font-family: "SimHei";
    line-height: 33px;
}
.divs, .divp {
    text-align: left;
}
.divm {
    float: right;
    background-image: url("../screenshot/news-cent-img/img6.png");
    font-family: "SimHei";
    width: 122px;
    height: 44px;
    padding-top: 5px;
    background-repeat: no-repeat;
    color: #ffffff;
}
.divp {
    text-indent: 2em;
}
#pages {
    margin-bottom: 106px;
}
#pages span{
    color: #000000;
    padding: 0 42px;
    font-size: 30px;
    font-family: "SimHei";
}
#sixth {
    background-image: url("../screenshot/homepage-img/homepage14.png");
    width: 100%;
    background-repeat: no-repeat;
    height: 315px;
}
#fiimg {
    width: 1200px;
    margin:0 auto;
    z-index: 99;
}
.lix {
    font-size: 24px;
    font-family: "Microsoft YaHei";
}
.lixd {
    font-size: 18px;
    font-family: "Microsoft YaHei";
    margin-top: 20px;
    float: left;
    text-align: left;
}
#seventh {
    border: 1px solid #212121;
    background-color: #212121;
    height: 36px;
}
#seventh span {
    color: #ffffff;
    font-family: "SimHei";
    margin: 9px auto;
    display: inline-block;
    font-size: 20px;
}
.address {
    width: 252px;
    float: left;
    padding-top: 70px;
}
.telephone {
    width: 204px;
    float: left;
    padding-top: 70px;
}
.email {
    width: 258px;
    float: left;
    padding-top: 70px;
}
.unify {
    color: #ffffff;
    margin-top: 25px;
}